
/*-------------------------------------------------------
2.Color Change css
---------------------------------------------------------*/

#colorOptionsSidebar {
    top: 50%;
    right: 0;
    z-index: 1111;
    line-height: 1;
    position: fixed;
    text-align: left;
	display: inline-block;
    transform: translateY(-50%);
	transition: all 0.4s ease;
    #colorChange {
        top: 0;
        right: 220px;
        position: absolute;
        padding: 16px;
        font-size: 20px;
        color: var(--clr-white);
        border: none;
        background: var(--clr-def);
		transition: all 0.4s ease;
    }
    .color-options-wrap {
        padding: 15px 6px 10px 15px;
        max-width: 219px;
        background: var(--clr-white);
        transition: all 0.4s ease;
        box-shadow: 0 23px 49px 0 rgba(var(--clr-def-2),0.1);
        transition: all 0.4s ease;
        transform: translateX(100%);
        &.active {
            transform: translateX(0);
        }
    }
    span {
        width: 38px;
        height: 38px;
        cursor: pointer;
        overflow: hidden;
        position: relative;
        border-radius: 50%;
        margin:3px;
        display: inline-block;
        &.default {
            background: var(--clr-def);
        }
        &.blue {
            background: var(--clr-def);
        }
        &.red {
            background: red;
        }
        &.yellow {
            background: yellow;
        }
        &.green {
            background: green;
        }
        &.pink {
            background: pink;
        }
        &.turquose {
            background: #01a3a4;
        }
        &.purple {
            background: purple;
        }
        &.blue2 {
            background: #2e86de;
        }
        &.orange {
            background: orange;
        }
        &.magenta {
            background: magenta;
        }
        &.orange2 {
            background: #ff793f;
        }
        &.active {
            &:after {
                content: "\f00c";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                display: flex;
                font-size: 12px;
                font-weight: 600;
                color: var(--clr-white);
                text-align: center;
                position: absolute;
                align-items: center;
                justify-content: center;
                background: rgba(var(--clr-black),0.2);
                font-family: "Font Awesome 5 Free";
            }
        }
    }
}

//RTl

#rtlSidebar {
	top: 50%;
    right: 0;
    margin-top: -115px;
    z-index: 7777;
    line-height: 1;
    position: fixed;
    text-align: left;
    display: inline-block;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
	#rtlToggle {
		padding: 16px 12px;
		font-size: 16px;
		color: #fff;
		border: none;
	}
}


