/*-------------------------------------------------------
5. Item css
---------------------------------------------------------*/

.item-area {
	position: relative;
	z-index: 1;
}

.h-style {
	margin-bottom: 4rem;
	&:last-child {
		margin-bottom: 0;
	}
}

.item-title {
    padding: 1.4rem 2rem;
    text-align: center;
    margin-top: 2.5rem;
    font-size: 2.6rem;
	background-color: var(--clr-white);
	cursor: pointer;
	a {
		color: var(--clr-heading);
	}
}

//Play Button

.pl {
    width: 100%;
    position: relative;
    height: 100%;
}

.play-bt {
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: var(--clr-white);
    position: absolute;
    top: 54%;
    left: 56%;
    transform: translate(-50%, -50%); 
	&::before {
	  position: absolute;
	  content: '';
	  border-radius: 50%;
	  background-color: rgba(255,255,255,.3);
	  width: 110px;
	  height: 110px;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  z-index: -1;
	  animation: bl 2s linear infinite;
	  transition-delay: 1s; 
	}
	&::after {
	  position: absolute;
	  content: '';
	  border-radius: 50%;
	  background-color: rgba(255,255,255,.3);
	  width: 130px;
	  height: 130px;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  z-index: -1;
	  animation: bl 2s linear infinite; 
	}
}

@keyframes bl {
  0% {
    transform: translate(-50%, -50%) scale(0.5); 
	}
  100% {
    transform: translate(-50%, -50%) scale(1.5); 
	} 
}
//Coming Soon
.cm-sn {
    font-size: 3.6rem;
    color: var(--clr-white);
}

//Core

.core-box {
    text-align: center;
    background-color: var(--clr-white);
    padding: 5rem 3rem;
	border: 1px solid #00AAEB;
	margin-right: 2rem;
   
	.core-icon {
		margin-bottom: 2rem;
	}
	.core-desc {
		h4 {
			font-size: 2.2rem;
			font-family: var(--font-3);
			font-size: 30px;
			font-style: normal;
			font-weight: 400;
			line-height: 43px;
			letter-spacing: 0.03em;
			text-align: center;

		}
	}
	&:hover{
		border: none;
		box-shadow: 5px 10px 50px rgba(0, 0, 0, 0.06);
	}
}


//Extra css For item animation

/***inner-item***/
.inner-item {
	text-align: center;
	position: relative;
	&:hover {
		img {
			transform: translateY(-8px);
		}
		a {
			.thumb {
				&:after {
					visibility: visible;
					opacity: 1;
				}
			}
			
		}
		 
		.cm-soon-title {
			color: #fff;
		}
		.btn {
			visibility: visible;
			opacity: 1;
		}
	}
	a {
		display: block;
		color: #1d1d1d;
		text-decoration: none;
		position: relative;
		font-family: var(--font-3);
		font-size: 23px;
		font-style: normal;
		font-weight: 500;
		letter-spacing: 0em;
		text-align: center;
		 h3 {
			position: absolute;
			bottom: -15px;
			left: 0;
			right: 0;
			background: #fff;
			padding: 2rem 1rem;
			font-size: 25px;
		}

		.thumb {
			overflow: hidden;
			display: block;
			position: relative;
			border-radius: 5px;
			margin-bottom: 40px;
			box-shadow: 0px 5px 50px 0px rgba(0,0,0, .2);
			min-height: 350px;
			&:after {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				right: 0;
				bottom: 0;
				background-color: rgba(0,0,0,0.7);
				visibility: hidden;
				opacity: 0;
				transition: 0.4s;
			}
		}
		img {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			transform: scale(1) translateY(1);
			transition: transform 12s;
			display: block;
			width: 100%;
			height: initial;
		}
		&:hover {
			.thumb {
				img {
					transform: scale(1) translateY(-50px);
					transition: transform 12s;
				}
			}
		}
	}
	.btn {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		font-size: 16px;
		color: #fff;
		margin-top: -22px;
		visibility: hidden;
		opacity: 0;
		transition: 0.4s;
	}
}
.widget-section {
	.inner-item {
		margin-bottom: 20px;
	}
}
.inner-item.style-large {
	a {
		.thumb {
			min-height: 550px;
		}
		&:hover {
			.thumb {
				img {
					transform: scale(1) translateY(-1280px);
				}
			}
		}
	}
}


.inner-item.style-small {
	a {
		.thumb {
			min-height: 550px;
		}
		&:hover {
			.thumb {
				img {
					transform: scale(1) translateY(-200px);
				}
			}
		}
	}
}

.inner-item.style-xs {
	a {
		.thumb {
			min-height: 550px;
		}
		&:hover {
			.thumb {
				min-height: 550px;
				img {
					transform: scale(1) translateY(-100px);
				}
			}
		}
	}
}

.inner-item.coming-soon {
	a {
		.thumb {
			img {
				filter: blur(12px);
			}
		}
	}
}
.inner-item.inner-page-item {
	a {
		img {
			transition: transform 2s;
			transform: scale(1.02) translateY(1.02);
		}
		&:hover {
			.thumb {
				img {
					transform: scale(1.02) translateY(-60px);
					transition: transform 2s;
				}
			}
		}
	}
}
.inner-item.style-none {
	a {
		&:hover {
			.thumb {
				img {
					transform: scale(1) translateY(0);
				}
			}
		}
	}
}
.header-item {
	display: block;
	.thumb {
		position: relative;
		display: block;
		&:after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			background-color: rgba(0,0,0,0.7);
			visibility: hidden;
			opacity: 0;
			transition: 0.4s;
			border-radius: 5px;
		}
		img {
			transition: 0.4s;
			border-radius: 5px;
		}
	}
	&:hover {
		.thumb {
			img {
				transform: scale(1.05);
			}
			&:after {
				visibility: visible;
				opacity: 1;
				transform: scale(1.05);
			}
		}
	}
}
.cm-soon-title {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.inner-item.style-large.coming-soon {
	.thumb {
		&::after {
			visibility: visible;
			opacity: 1;
		}
	}
	.cm-soon-title {
		color: var(--clr-white);
	}
}
