
/*-------------------------------------------------------
2. Theme Default css
---------------------------------------------------------*/

.ovrflow-hidden {
    overflow: hidden;
}

.text-right {
    text-align: right;
}

.space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.c-pd {
    padding: 0 7rem;
}

.s-pd {
    padding: 0 12rem;
}

.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background: url(assets/img/logo/pre-loader.gif) center no-repeat var(--clr-white);
    text-align: center;
}

.h-100 {
	height: 100%;
}

.h-100vh {
	height: 100vh;
}

.bg {
	background-color: var(--clr-bg);
}

.bg-2 {
    background-color: var(--clr-bg-2);
}

.bg-3 {
    background-color: var(--clr-def);
}

/*Theme button css*/

.site-title {
	margin-bottom: 5rem;
    position: relative;
    
	h2 {
        font-family:var(--font-3);
        font-size: 50px;
      font-weight: 500;
      line-height: 72px;
      letter-spacing: 0.0025em;
      margin-bottom: 1.9rem;
      margin-top: -16px;
      padding: 0 10rem;
	}
     h1 {
        
        background-image:linear-gradient(180deg, #0A66C2 0%, rgba(10, 102, 194, 0) 100%);
        background-color: #0A66C2;
         -webkit-background-clip: text;
         -webkit-text-fill-color: transparent;
        font-family: var(--font-3);
        font-style: normal;
        font-weight: 600;
        font-size: 165px;
        line-height: 165px;
        text-align: center;
        letter-spacing: 0.03em;
        opacity: 0.05;
    }
     
}
.item-site-title{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        
    
    h3 {
        font-family: var(--font-3);
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 22px;
        text-align: center;
        color: #121826;
    }
    p{
        font-family: var(--font-3);
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 36px;
        text-align: center;
        color: #121826;
        opacity: 0.6;
        padding: 0 7rem; 
    }
}
.item-line {
    border-top: 1px solid #121826;
    opacity: 0.2;
}

.site-title.wh {
	p,
	h2 {
		color: var(--clr-white);
	}
}

/*margins paddings*/

.pb-140 {
	padding-bottom: 14rem;
}

.pd-50 {
	padding: 5rem 0;
}

.de-padding {
    padding: 12rem 0;
}

.de-pt {
	padding-top: 12rem;
}

.de-pb {
	padding-bottom: 12rem;
}

.pt-0 {
	padding-top: 0rem;
}

.pt-10 {
	padding-top: 1rem;
}

.pt-20 {
	padding-top: 2rem;
}

.pt-30 {
	padding-top: 3rem;
}

.pt-40 {
	padding-top: 4rem;
}

.pt-50 {
	padding-top: 5rem;
}

.pt-60 {
	padding-top: 6rem;
}

.pt-70 {
	padding-top: 7rem;
}

.pt-80 {
	padding-top: 8rem;
}

.pt-90 {
	padding-top: 9rem;
}

.pt-100 {
	padding-top: 10rem;
}

.pb-0 {
	padding-bottom: 0rem;
}

.pb-10 {
	padding-bottom: 1rem;
}

.pb-20 {
	padding-bottom: 2rem;
}

.pb-30 {
	padding-bottom: 3rem;
}

.pb-40 {
	padding-bottom: 4rem;
}

.pb-50 {
	padding-bottom: 5rem;
}

.pb-60 {
	padding-bottom: 6rem;
}

.pb-70 {
	padding-bottom: 7rem;
}

.pb-80 {
	padding-bottom: 8rem;
}

.pb-90 {
	padding-bottom: 9rem;
}

.pb-100 {
	padding-bottom: 10rem;
}

.mt-0 {
	margin-top: 0;
}

.mt-10 {
	margin-top: 1rem;
}

.mt-20 {
	margin-top: 2rem;
}

.mt-30 {
	margin-top: 3rem;
}

.mt-40 {
	margin-top: 4rem;
}

.mt-50 {
	margin-top: 5rem;
}

.mt-60 {
	margin-top: 6rem;
}

.mt-70 {
	margin-top: 7rem;
}

.mt-80 {
	margin-top: 8rem;
}

.mt-90 {
	margin-top: 9rem;
}

.mt-100 {
	margin-top: 10rem;
}

.mb-0 {
	margin-bottom: 0;
}

.mb-10 {
	margin-bottom: 1rem;
}

.mb-20 {
	margin-bottom: 2rem;
}

.mb-30 {
	margin-bottom: 3rem;
}

.mb-40 {
	margin-bottom: 4rem;
}

.mb-50 {
	margin-bottom: 5rem;
}

.mb-60 {
	margin-bottom: 6rem;
}

.mb-70 {
	margin-bottom: 7rem;
}

.mb-80 {
	margin-bottom: 8rem;
}

.mb-90 {
	margin-bottom: 9rem;
}

.mb-100 {
	margin-bottom: 10rem;
}

.pos-rel {
	position: relative;
	z-index: 1;
}

/*Theme Button*/

.tm-btn {
	padding: 2rem 4rem;
	border: none;
	font-weight: 600;
	font-size: 1.6rem;
	line-height: 1;
	color: var(--clr-heading);
	position: relative;
	z-index: 1;
	display: inline-block;
	text-transform: capitalize;
}

//Section Title

.sec-title {
    font-size: 3rem;
    line-height: 4.6rem;
    font-weight: 500;
    margin-bottom: 0;
}

//Button 

.btn-1 {
	padding: 2rem 4rem;
	line-height: 1;
	background-color: #222222;
    border: none;
	color: var(--clr-body);
	outline: none;
	font-weight: 600;
	-webkit-transition: .5s ease;
	transition: .5s ease;
	position: relative;
	z-index: 1;
    display: inline-block;
	&::before {
		position: absolute;
		content: '';
		background-color: var(--clr-def);
		height: 100%;
		width: 5%;
		top: 0;
		left: 0;
		-webkit-border-radius: 50%;
		border-radius: 50%;
		-webkit-transition: .5s ease;
		transition: .5s ease;
		z-index: -1;
		transform-origin: left;
	}
	&:hover::before {
		width: 100%;
		border: 1px solid var(--clr-def);
		-webkit-border-radius: 0%;
		border-radius: 0%;
	}
	&:hover {
		color: var(--clr-white);
	}
}

@mixin btn-i {
    padding: 2rem 4rem;
    line-height: 1;
    color: var(--clr-white);
    outline: none;
    font-weight: 600;
    font-family: var(--font-3);
    -webkit-transition: .5s ease;
    transition: .5s ease;
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    -webkit-border-radius: 30px;
    border-radius: 30px;
}

.btn-2 {
    font-size: 16px;
    font-weight: 600;
    line-height: 10px;
    letter-spacing: 0.0015em;
    color: var(--clr-def);
    i {
        margin-left: 7px;
    }
}

.btn-4 {
    background-color: var(--clr-def);
    border: none; 
}

.btn-5 {
    background-color:  var(--clr-def-2);
    border: none; 
}

.btn-6 {
    background-color:  var(--clr-def);
    border: none;
    border-radius: var(--rad-1)!important;
	padding: 2rem 3rem;
    img {
        margin-right: 8px;
    }
}

.hero-btn {
	a {
		width: 230px;
      text-align: center;
    
	} 
}

.btn-4,
.btn-5,
.btn-6{
    @include btn-i;
    &::before {
    position: absolute;
    content: '';
    background-color: var(--clr-black);
    border: none;
    height: 0;
    width: 102%;
    top: 0;
    left: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    z-index: -1;
    visibility: hidden;
    }
    &:hover::before {
        height: 102%;
        visibility: visible;
        color: var(--clr-white);
    }
    &:hover {
        color: var(--clr-white);
    }
}

.btn-7 {
    height: 35px;
    width: 90px;
    border-radius: 2px;
    outline: 1px solid #C4C4C4;
    font-size: 14px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0.001em;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 1;
    &::before {
        position: absolute;
        z-index: -1;
        content: '';
        height: 100%;
        width: 0%;
        background-color: var(--clr-def);
        top: 0;
        right: 0;
        transition: all .5s ease;
    }
    &:hover::before {
        width: 100%;
    }
    &:hover {
        color: var(--clr-white);
    }
}

.btn-11 {
	display: inline-block;
	padding: 2rem 4rem;
	background-color: #edf6fe;
	color: var(--clr-def);
	border-radius: 4px;
	text-align: center;
	width: 100%;
	font-size: 16px;
	font-weight: 700;
	letter-spacing: 0.0015em; 
	&:hover {
		background-color: var(--clr-def);
		color: var(--clr-white); 
	}
}

  

.btn-sub {
    height: 5rem;
    width: 5rem;
    border: none;
    background-color: var(--clr-def);
    border-radius: 2px;
    outline: none;
    font-size: 22px;
}

.btn-12 {
    background-color: transparent;
    border: 1px solid #fff;
    padding: 2rem 4rem;
    line-height: 1;
    color: var(--clr-white);
    outline: none;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    border-radius: 18px;
    font-family: var(--font-3);
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: center;
    height: 69px;
    margin-right: 17px;
  
  }
  
  
  .btn-12::before {
    position: absolute;
    content: '';
    background-color: var(--clr-black);
    border: none;
    height: 0;
    width: 230px;
    top: 0;
    left: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    z-index: -1;
    visibility: hidden;
  }
  
  
  .btn-12:hover::before {
    height: 102%;
    visibility: visible;
    color: var(--clr-white);
  }
  
  
  .btn-12:hover {
    border: 1px solid #000;
    color: var(--clr-white);
  }
  .btn-13 {
    background-color:#43F3C9;
    padding: 2rem 4rem;
    line-height: 1;
    color: #006889;
    outline: none;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    border-radius: 18px;
    font-family: var(--font-3);
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: center;
    height: 69px;
    margin-left: 16px;
  
  }
  
  
  .btn-13::before {
    position: absolute;
    content: '';
    background-color: var(--clr-black);
    border: none;
    height: 0;
    width: 230px;
    top: 0;
    left: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    z-index: -1;
    visibility: hidden;
  }
  
  
  .btn-13:hover::before {
    height: 102%;
    visibility: visible;
    color: var(--clr-white);
  }
  
  
  .btn-13:hover {
    border: 1px solid #000;
    color: var(--clr-white);
  }

//Form Input

.input-style-1 {
    height: 5rem;
    border: none;
    padding: 2rem;
    outline: none;
    border-radius: 2px;
    font-size: 1.4rem;
    color: var(--clr-heading);
    &::placeholder { 
        color: #747070;
        opacity: 1;
    }
        
}

//Container Width

