    
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jost:wght@100;200;300;400;500;600;700;900&display=swap');

:root {
	--clr-heading: #222222;
	--clr-body: #747070;
	--clr-bg: #f4f4f4;
	--clr-bg-2: #F7F9FC;
	--clr-def: #00AAEB;
	--clr-def-2: rgb(255, 69, 0);
	--clr-ftr: #070E27;
	--clr-ftr-2: #666666;
	--clr-ftr-3: #323232;
	--clr-white: #fff;
	--clr-black: #000;
	--clr-bg-3:#43F3C9; 
	--font-1: 'Inter', sans-serif;
	--font-2: 'Inter', sans-serif;
	--font-3: 'Jost', sans-serif;
	--rad-1: 4px;
    --clr-grad-1: linear-gradient(to right, var(--clr-def), var(--clr-def-2));
}


	
	

